@page
@model BSVisionCalculator.Pages.RealTimeRegimeCalculationWallModel
@{
    ViewData["Title"] = "Specific positions and times (wall-bloq)";
}

<div class="dataform" content="width=device-width">
    <h1 class="formtitle">Specific positions and times (wall-bloq)</h1>
    <form method="post">
        <h2>Map parameters</h2>
        <p class="formfield">
            <label>BPM</label>
            <input type="number" name="bpm" id="bpm" step="0.001" min="1" max="10000" value="120"/>
        </p>
        <p class="formfield">
            <label>NJS</label>
            <input type="number" name="njs" step="0.05" min="0.5" max="50" value="16" />
        </p>
        <p class="formfield">
            <label>HJD</label>
            <input type="number" name="hjd" id="hjd" step="0.05" min="0.05" max="10000" value="1.25" />
        </p>
        <p class="formfield">
            <label>Reaction time (ms)</label>
            <input type="number" name="rt" id="rt" value="625" disabled/>
        </p>
        <h2>Player parameters</h2>
        <p class="formfield">
            <label>Player height</label>
            <input type="number" name="height_player" step="0.1" min="0.5" max="4" value="1.8"/>            
        </p>
        <h2>Posture</h2>
        <p class="formfield">
            <label>Player posture</label>
            <select name="posture">
                <option value="CENTRED">Centred</option>
                <option value="LEFT">Leaning left</option>
                <option value="RIGHT">Leaning right</option>
                <option value="SQUAT">Crouching</option>
                <option value="LEFT_SQUAT">Crouching left</option>
                <option value="RIGHT_SQUAT">Crouching right</option>
            </select>
        </p>
        <h2>Relative position</h2>
        <p class="formfield">
            <label>Time between objects (beats)</label>
            <input type="number" name="time_distance" step="0.01" min="0" max="100000" value="0.5"/>
        </p>
        <h2>Blocker wall (in front)</h2>
        <p class="formfield">
            <label>Left-most Lane</label>
            <select name="blocker_left_lane">
                <option value="FAR_LEFT">Far left</option>
                <option value="NEAR_LEFT">Middle left</option>
                <option value="NEAR_RIGHT">Middle right</option>
                <option value="FAR_RIGHT">Far right</option>
            </select>
        </p>
        <p class="formfield">
            <label>Right-most Lane</label>
            <select name="blocker_right_lane">
                <option value="FAR_LEFT">Far left</option>
                <option value="NEAR_LEFT">Middle left</option>
                <option value="NEAR_RIGHT">Middle right</option>
                <option value="FAR_RIGHT">Far right</option>
            </select>
        </p>
        <p class="formfield">
            <label>Base Height</label>
            <select name="blocker_bottom_height">                
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>                
            </select>
        </p>
        <p class="formfield">
            <label>Top Height</label>
            <select name="blocker_top_height">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </p>
        <p class="formfield">
            <label>Duration (beats)</label>
            <input type="number" name="blocker_duration" step="0.01" min="0" max="100000" value="0" />
        </p>
        <h2>Blocked bloq (behind)</h2>
        <p class="formfield">
            <label>Lane</label>
            <select name="blocked_lane">
                <option value="FAR_LEFT">Far left</option>
                <option value="NEAR_LEFT">Middle left</option>
                <option value="NEAR_RIGHT">Middle right</option>
                <option value="FAR_RIGHT">Far right</option>
            </select>
        </p>
        <p class="formfield">
            <label>Row</label>
            <select name="blocked_row">
                <option value="BOTTOM">Bottom</option>
                <option value="MID">Middle</option>
                <option value="TOP">Top</option>
            </select>
        </p>
        <p class="p-checkbox">
            <input type="checkbox" id="advanced_parameters_box" value="advanced_parameters" />
            <label for="advanced_parameters_box">Advanced configuration parameters (not recommended) <span title="You should not need to change these parameters. Do so only if you know exactly what you are doing.">&#9432;</span></label>
        </p>
        <div id="advanced_parameters" style="display:table;" hidden>
            <h4>Posture parameters</h4>
            <p class="formfield">
                <label>Lean distance <span title="How many meters does leaning displace the player horizontally.">&#9432;</span></label>
                <input type="number" name="width_lean" id="width_lean" step="0.05" min="0" max="2" value="@ViewData["width_lean_default"]" />
            </p>
            <p class="formfield">
                <label>Squat height <span title="How many meters does squatting displace the player vertically.">&#9432;</span></label>
                <input type="number" name="height_squat" id="height_squat" step="0.05" min="0" max="2" value="@ViewData["height_squat_default"]" />
            </p>
            <p class="formfield">
                <label>Squat lean distance <span title="How many meters does leaning while squatting displace the player horizontally.">&#9432;</span></label>
                <input type="number" name="width_squatlean" id="width_squatlean" step="0.05" min="0" max="2" value="@ViewData["width_squatlean_default"]" />
            </p>
            <h4>Approximate parameters</h4>
            <p class="formfield">
                <label>Bloq size <span title="How large is the relevant portion (for vision purposes) of a bloq. In meters. A full block is 0.5m wide, but we only consider a part of it for vision.">&#9432;</span></label>
                <input type="number" name="size_bloq" id="size_bloq" step="0.01" min="0" max="0.75" value="@ViewData["size_bloq_default"]" />
            </p>
            <p class="formfield">
                <label>Spawn animation threshold (0-1) <span title="What proportion of the distance between two lanes does a bloq need to be away from its final position to consider it to still be spawning. A too large value here will produce significant errors in the calculations. A too small value here will slow down the calculations.">&#9432;</span></label>
                <input type="number" name="proportion_spawn" id="proportion_spawn" step="0.001" min="0" max="1" value="@ViewData["proportion_spawn_default"]" />
            </p>
            <h4>Process details</h4>
            <p class="formfield">
                <label>Time granularity <span title="What is the shortest amount of time considered (in seconds). A larger value will speed up the process but be more imprecise to the point of significant errors. A smaller value will increase precision but slow down the process.">&#9432;</span></label>
                <input type="number" name="time_granularity" id="time_granularity" step="0.0001" min="0" max="0.5" value="@ViewData["time_granularity_default"]" />
            </p>
            <h4>Game constants <span title="These values cannot be currently modified. They are NOT approximations but rather exact values taken from the game.">&#9432;</span></h4>
            <p class="formfield">
                <label>Standard player height <span title="The basic player height from which all other height parameters are calculated.">&#9432;</span></label>
                <input type="number" name="height_player_std" id="height_player_std" value="1.8" disabled />
            </p>
            <p class="formfield">
                <label>Player height difference multiplier <span title="Player height difference from the standard will be multiplied by this factor in all calculations.">&#9432;</span></label>
                <input type="number" name="height_player_mult" id="height_player_mult" value="0.5" disabled />
            </p>
            <p class="formfield">
                <label>Minimum effective player height <span title="The effective player height used in calculations will never be smaller than this.">&#9432;</span></label>
                <input type="number" name="height_player_absolute_min" id="height_player_absolute_min" value="1.6" disabled />
            </p>
            <p class="formfield">
                <label>Maximum effective player height <span title="The effective player height used in calculations will never be larger than this.">&#9432;</span></label>
                <input type="number" name="height_player_absolute_max" id="height_player_absolute_max" value="2.4" disabled />
            </p>
            <p class="formfield">
                <label>Relative camera height <span title="The player's height is considered to be this amount above the camera's position.">&#9432;</span></label>
                <input type="number" name="height_player_above_camera" id="height_player_above_camera" value="0.1" disabled />
            </p>
            <p class="formfield">
                <label>Playline depth <span title="When a note is meant to be played, it will be this distance in front of the player (meters).">&#9432;</span></label>
                <input type="number" name="depth_playline" id="depth_playline" value="0.65" disabled />
            </p>
            <p class="formfield">
                <label>Minimum wall height <span title="All bottom vanilla walls have their base start from this height above the floor.">&#9432;</span></label>
                <input type="number" name="height_wall_min" id="height_wall_min" value="0.1" disabled />
            </p>
            <p class="formfield">
                <label>Wall level height <span title="Each wall height level is this vertical size (before adjustments for player height)">&#9432;</span></label>
                <input type="number" name="height_wall_level" id="height_wall_level" value="0.6" disabled />
            </p>
            <p class="formfield">
                <label>Lane width <span title="Each lane is this distance wide (meters)">&#9432;</span></label>
                <input type="number" name="width_lane" id="width_lane" value="0.6" disabled />
            </p>
            <p class="formfield">
                <label>Bottom-to-mid height<span title="Distance between the centre of bottom row and the centre of mid row (meters)">&#9432;</span></label>
                <input type="number" name="height_row_bottom_mid" id="height_row_bottom_mid" value="0.55" disabled />
            </p>
            <p class="formfield">
                <label>Mid-to-top height<span title="Distance between the centre of mid row and the centre of top row (meters)">&#9432;</span></label>
                <input type="number" name="height_row_mid_top" id="height_row_mid_top" value="0.5" disabled />
            </p>
        </div>
        <br />
        <button class="btn btn-primary" id="submit">Calculate Vision</button>
    </form>
</div>
<div id="result">
    
</div>

@section scripts{
    <script>
        $(function () {
            $('#bpm').on('change', function (evt) {
                $.post('/ReactionTimeAjax', $('form').serialize(), function (data) {
                    $('#rt').replaceWith(data)
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('#hjd').on('change', function (evt) {
                $.post('/ReactionTimeAjax', $('form').serialize(), function (data) {
                    $('#rt').replaceWith(data)
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                $.post('/RealTimeRegimeCalculationWallAjax', $('form').serialize(), function (data) {
                    $('#result').replaceWith(data)
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('#advanced_parameters_box').on('change', function () {
                var ischecked = $(this).is(':checked');
                if (!ischecked) {
                    $('#advanced_parameters').attr('hidden', true);
                }
                else {
                    $('#advanced_parameters').removeAttr('hidden');
                }
            });
        })
    </script>
}
