@page
@model BSVisionCalculator.Pages.RelativeTimeRegimeTestsModel
@{
    ViewData["Title"] = "Relative Time Regime calculation tests";
}

<div class="text-center">
    <p><strong>Test 1</strong></p>
    @Html.Raw(ViewData["test1"])    
    <p><strong>Test 2</strong></p>
    @Html.Raw(ViewData["test2"])
    <p><strong>Test 3</strong></p>
    @Html.Raw(ViewData["test3"])
    <p><strong>Test 4</strong></p>
    @Html.Raw(ViewData["test4"])
    <p><strong>Test 5</strong></p>
    @Html.Raw(ViewData["test5"])
    <p><strong>Test 6</strong></p>
    @Html.Raw(ViewData["test6"])
    <p><strong>Test 7</strong></p>
    @Html.Raw(ViewData["test7"])
    <p><strong>Test 8</strong></p>
    @Html.Raw(ViewData["test8"])
    <p><strong>Test 9</strong></p>
    @Html.Raw(ViewData["test9"])
    <p><strong>Test 10</strong></p>
    @Html.Raw(ViewData["test10"])
    <p><strong>Test 11</strong></p>
    @Html.Raw(ViewData["test11"])
    <p><strong>Test 12</strong></p>
    @Html.Raw(ViewData["test12"])
    <p><strong>Test 13</strong></p>
    @Html.Raw(ViewData["test13"])
</div>