@page
@model BSVisionCalculator.Pages.RelativeTimeRegimeCalculationModel
@{
    ViewData["Title"] = "Calculate relative time vision regimes (bloq-bloq)";
}

<div class="dataform" content="width=device-width">
    <h1 class="formtitle">Relative Timing Vision Regimes (bloq-bloq)</h1>
    <form method="post">
        <h2>Map parameters</h2>
        <fieldset id="map">
        <p class="formfield">
            <label>BPM</label>
            <input type="number" name="bpm" id="bpm" step="0.001" min="1" max="10000" value="120"/>
        </p>
        <p class="formfield">
            <label>NJS</label>
            <input type="number" name="njs" step="0.05" min="0.5" max="50" value="16" />
        </p>
        <p class="formfield">
            <label>HJD</label>
            <input type="number" name="hjd" id="hjd" step="0.05" min="0.05" max="10000" value="1.25" />
        </p>
        <p class="formfield">
            <label>Reaction time (ms)</label>
            <input type="number" name="rt" id="rt" value="625" disabled/>
        </p>
        </fieldset>
        <h2>Player parameters</h2>
        <p class="formfield">
            <label>Player height</label>
            <input type="number" name="height_player" step="0.1" min="0.5" max="4" value="1.8"/>            
        </p>
        <h2>Posture</h2>
        <p class="formfield">
            <label>Player posture</label>
            <select name="posture">
                <option value="CENTRED">Centred</option>
                <option value="LEFT">Leaning left</option>
                <option value="RIGHT">Leaning right</option>
                <option value="SQUAT">Crouching</option>
                <option value="LEFT_SQUAT">Crouching left</option>
                <option value="RIGHT_SQUAT">Crouching right</option>
            </select>
        </p>
        <h2>Blocker bloq (in front)</h2>
        <p class="formfield">
            <label>Lane</label>
            <select name="blocker_lane">
                <option value="FAR_LEFT">Far left</option>
                <option value="NEAR_LEFT">Middle left</option>
                <option value="NEAR_RIGHT">Middle right</option>
                <option value="FAR_RIGHT">Far right</option>
            </select>
        </p>
        <p class="formfield">
            <label>Row</label>
            <select name="blocker_row">                
                <option value="BOTTOM">Bottom</option>
                <option value="MID">Middle</option>
                <option value="TOP">Top</option>
            </select>
        </p>
        <h2>Blocked bloq (behind)</h2>
        <p class="formfield">
            <label>Lane</label>
            <select name="blocked_lane">
                <option value="FAR_LEFT">Far left</option>
                <option value="NEAR_LEFT">Middle left</option>
                <option value="NEAR_RIGHT">Middle right</option>
                <option value="FAR_RIGHT">Far right</option>
            </select>
        </p>
        <p class="formfield">
            <label>Row</label>
            <select name="blocked_row">
                <option value="BOTTOM">Bottom</option>
                <option value="MID">Middle</option>
                <option value="TOP">Top</option>
            </select>
        </p>
        <h2>Vision tolerance ranges</h2>
        <p> (Hard block) parameters are relevant for hard vision blocks (centre cells) and (Inline) parameters are relevant for anything else.</p>
        <p class="formfield">
            <label>Relevant vision time (ms) <span title="The object being visible when less than this time close to the player will not be counted as last seen or as time to process it.">&#9432;</span></label>
            <input type="number" name="time_last_counted" step="5" min="0" max="150000" value="@ViewData["time_last_counted_default"]" />
        </p>
        <p class="formfield">
            <label>First vision MIN (hard block) (ms) <span title="The first time a hard vision blocked object becomes visible needs to be more than this time before reaching that object.">&#9432;</span></label>
            <input type="number" name="time_hardvb_first_min" step="5" min="0" max="150000" value="@ViewData["time_hardvb_first_min_default"]" />
        </p>
        <p class="formfield">
            <label>Last vision MAX (hard block) (ms) <span title="The last time a hard vision blocked object is visible inside the relevant vision range needs to be less than this time before reaching that object.">&#9432;</span></label>
            <input type="number" name="time_hardvb_last_max" step="5" min="0" max="150000" value="@ViewData["time_hardvb_last_max_default"]" />
        </p>
        <p class="formfield">
            <label>MIN process time (hard block) (ms) <span title="The hard vision blocked object needs to be in vision within the relevant range for more than this amount of time.">&#9432;</span></label>
            <input type="number" name="time_hardvb_process_min" step="5" min="0" max="150000" value="@ViewData["time_hardvb_process_min_default"]" />
        </p>
        <p class="formfield">
            <label>First vision MIN (inline) (ms) <span title="The first time an inline object becomes fully visible needs to be more than this time before reaching that object.">&#9432;</span></label>
            <input type="number" name="time_inline_first_min" step="5" min="0" max="150000" value="@ViewData["time_inline_first_min_default"]" />
        </p>
        <p class="formfield">
            <label>Last vision MAX (inline) (ms) <span title="The last time an inline object is fully visible inside the relevant vision range needs to be less than this time before reaching that object.">&#9432;</span></label>
            <input type="number" name="time_inline_last_max" step="5" min="0" max="150000" value="@ViewData["time_inline_last_max_default"]" />
        </p>
        <p class="formfield">
            <label>MIN process time (inline) (ms) <span title="The inline object needs to be in vision within the relevant range for more than this amount of time.">&#9432;</span></label>
            <input type="number" name="time_inline_process_min" step="5" min="0" max="150000" value="@ViewData["time_inline_process_min_default"]" />
        </p>
        <button class="btn btn-primary" id="submit">Calculate Relative Timing Regimes</button>
    </form>
</div>
<div id="result">
    
</div>

@section scripts{
    <script>
        $(function () {
            $('#bpm').on('change', function (evt) {
                $.post('/ReactionTimeAjax', $('form').serialize(), function (data) {
                    $('#rt').replaceWith(data)
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('#hjd').on('change', function (evt) {
                $.post('/ReactionTimeAjax', $('form').serialize(), function (data) {
                    $('#rt').replaceWith(data)
                });
            });
        });
    </script>
    <script>
        $(function () {
            $('#submit').on('click', function (evt) {
                evt.preventDefault();
                $.post('/RelativeTimeRegimeCalculationAjax', $('form').serialize(), function (data) {
                    $('#result').replaceWith(data)
                });
            });
        });
    </script>
}
